<% provide(:title,'Signup')%>
<h1 class="text-center">Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'message/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name, :required => "required" %>

      <%= f.label :email %>
      <%= f.email_field :email, :required => "required", :pattern => "^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" %>

      <%= f.label :password %>
      <%= f.password_field :password, :required => "required", :minlength => 8 , :id => "password" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, :required => "required", :id => 'password_confirmation' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
