<% provide(:title,'Profile')%>
<!-- <h1>
<%= gravatar_for @user %>
<%= @user[:name] %>
</h1> -->
<div class="container portfolio">
  <div class="row">
    <div class="col-md-12">
	  <div class="heading">				
	    <img src="https://image.ibb.co/cbCMvA/logo.png" />
	  </div>
	</div>	
  </div>
  <div class="infor">
    <div class="row">
	  <div class="col-md-6">
	    <div class="bio-image">
		  <%= gravatar_for @user %>
		</div>			
	  </div>
	  <div class="col-md-6">
	    <div class="bio-content">
	      <h1>Hi there,I'm <%= @user[:name] %></h1>
		  <h3>Contact me: <%= @user[:email] %></h3>
	    </div>
	  </div>
	</div>	
  </div>
</div>